@{
    ViewBag.Title = "Cartoon Hub";
}
<html>
<head>
    <title>

    </title>
    <style>
        .list-group-item:hover {
            font-size: 20px;
        }

        .list-group {
            padding-left: 5%;
        }

        .video {
            padding-top: 10%;
            width: 70%;
            padding-left: 20%;
        }

        .video1 {
            padding-top: 10%;
            width: 70%;
            padding-left: 20%;
        }

        .videodiv {
            width: 66%;
        }
    </style>
</head>

<body>
    <div class="row" style="padding-top:0.1%">

        <div class="col-md-4">
            <div class="list-group">
                <h2 href="#" style="font-size:20px;" class="list-group-item active">@Session["name"]</h2>

                <a href="/userview/uploadPicture" class="list-group-item">Upload Picture</a>

                <a href="/userview/uploadVideo" class="list-group-item">Upload Video</a>


                <a href="/userview/channel" class="list-group-item">See Channels</a>

                <a href="/userview/seeallchannel" class="list-group-item">See All Channels</a>
                <a href="/userview/addchannel" class="list-group-item">Add Channels</a>

                <a href="/userview/changePassword" class="list-group-item">change password</a>

            </div>

        </div>
    </div>
</body>
</html>
